/*.block-blue {
  background-color: @nav-backcolor;
  text-align: center;
  padding-left: 27px;
  padding-right: 28px;
  padding-top: 61px;
  padding-bottom: 45px;
  color: @nav-color;
}

.block-blue--2 {
  background-color: @nav-backcolor;
  text-align: center;
  padding-left: 30px;
  padding-right: 31px;
  padding-top: 45px;
  padding-bottom: 42px;
  color: @nav-color;
}

.block-blue__title {
  .no-indents();
  font-size: @title-size;
  font-weight: @title-weight;
  line-height: @text-height;
}

.block-blue__number {
  .no-indents();
  font-size: @text-size;
  font-weight: @text-weight;
  line-height: 21px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.block-blue__info {
  .no-indents();
  font-size: @text-size;
  font-weight: @text-weight;
  line-height: 21px;
}

.block-blue__city-image {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.block-blue__bridge-image {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .block-blue__city-image {
    width: 512px;
    background-image: url("../img/main-city-mobile@1x.jpg"); //должно быть другое изображение. Это маленькое
  }

  .block-blue__bridge-image {
    width: 512px;
    background-image: url("../img/main-bridge-mobile@1x.jpg"); //должно быть другое изображение. Это маленькое
    order: -1;
  }

  .block-1,
  .block-2 {
    display: flex;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .block-blue__city-image {
    width: 800px;
    background-image: url("../img/main-city-mobile@1x.jpg"); //должно быть другое изображение. Это маленькое
  }

  .block-blue__bridge-image {
    width: 800px;
    background-image: url("../img/main-bridge-mobile@1x.jpg"); //должно быть другое изображение. Это маленькое
    order: -1;
  }

  .block-1,
  .block-2 {
    display: flex;
    align-items: center;
  }
}
*/
