.page-main {
    .mobile-container();
}

.intro {
    background-color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
}

.intro__title {
    .no-indents();
    text-align: center;
    font-size: 18px;
    font-weight: @title-weight;
    line-height: 26px;
    color: @title-color;
    padding-top: 43px;
    padding-bottom: 30px;
}

.intro__text {
    .no-indents();
    text-align: center;
    font-size: 14px;
    font-weight: @text-weight;
    line-height: 26px;
    color: #333333;
    padding-bottom: 29px;
}
