.services {
  background: #ffffff;
  .no-indents();
  text-align: left;
  padding-left: 70px;
  padding-bottom: 42px;
  position: relative;
}

.services__title--img1:after {
  content: "";
  position: absolute;
  background: url(../img/icon-house.svg);
  width: 39px;
  height: 37px;
  top: 26px;
  left: 23px;
}

.services__title--img2:after {
  content: "";
  position: absolute;
  background: url(../img/icon-gift.svg);
  width: 32px;
  height: 38px;
  top: 152px;
  left: 25px;
}

.services__title--img3:after {
  content: "";
  position: absolute;
  background: url(../img/icon-burger.svg);
  width: 40px;
  height: 35px;
  top: 262px;
  left: 18px;
}

.services__item {
  padding-top: 37px;
}

.services__list {
  .no-indents();
  list-style: none;
}

.services__title {
  .no-indents();
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 21px;
}

.services__text {
  .no-indents();
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
